.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.error {
  border: 2px solid red;
  padding: 1rem;
  color: red;
  font-weight: 500;
  border-radius: 8px;
}

.noResults {
  border: 2px solid var(--color-black);
  padding: 1rem;
  border-radius: 8px;
  font-weight: 500;
  text-align: center;
}
