.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .branding {
    display: flex;
    align-items: center;
    gap: 1rem;

    h1 {
      font-size: 2.5rem;
    }
  }

  nav {
    display: flex;
    align-items: center;
    gap: 1rem;

    a {
      text-decoration: none;
      color: inherit;
      font-weight: 500;
      border: 2px solid rgb(204, 204, 204);
      padding: 0.5rem 1rem;
      border-radius: 8px;
      transition-duration: 300ms;
      &:hover {
        background: var(--color-main);
        color: var(--color-white);
        border-color: var(--color-main);
      }
    }
  }
}
