.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid rgb(192, 191, 191);
  background: white;
  border-radius: 8px;
  padding: 2rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .label {
    font-weight: 500;
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .button {
    border: 1px solid rgb(192, 191, 191);
    padding: 0.3rem 0.6rem;
    border-radius: 8px;
    font-weight: 700;
    &:hover {
      cursor: pointer;
      color: white;
      background: var(--color-main);
      border-color: var(--color-main);
    }
  }
}
