.container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  padding: 0rem 1rem;
  font-weight: 500;

  .button {
    width: max-content;
    user-select: none;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }
}
